<style>
  .icon_code_p.new-style-bug {
    background-image: url('http://sf.panli.com/Ued/pc/footer/images/appcode.png');
    background-size: 103px 103px;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://sf.panli.com/Ued/pc/footer/images/appcode.png', sizingMethod='scale');
  }
</style>
<div class="r_l_nav">
  <ul class="online-ul">
    <li class="online-li online-li-one"><span class="icon_r_nav icon_r_navkf hover_b"></span>
      <a href="http://www.panli.com/CustomerService/" target="_blank" class="hover_a" rel="nofollow">客服<br />中心</a>
    </li>
    <li class="online-li" id="r_download">
      <span class="icon_r_nav icon_r_navapp hover_b"></span>
      <a href="http://www.panli.com/Mobile/Index.aspx" target="_blank" class="hover_a" rel="nofollow">下载<br />APP</a>
      <div class="icon_code_h">
        <div class="icon_code_p new-style-bug">
          <em class="r_l_line "></em>
        </div>
      </div>
    </li>
    <li class="online-li none " id="black_Top ">
      <span class="icon_r_nav icon_r_navback hover_b "></span>
      <a href="javascript:; " onclick="$( 'html,body').animate({ scrollTop: 0 }, 800); " class="hover_a ">返回<br />顶部</a>
    </li>
  </ul>
</div>

<div id="ad20100608 " style="height: 80px; background: #E0EFF5 url(http://img.panlidns.com/CMS/bottomads/254/backgroundimage.jpg) repeat-x 0 0px; ">
  <div class="zd_hf " style="height: 80px; width: 1200px; margin: auto; position: relative; ">
    <a class="gg_img " style="cursor:pointer; " href="http://www.panli.com/Special/jp201706.html?source=top1 "><span style="background: url(http://img.panlidns.com/CMS/bottomads/254/image.png) no-repeat 0 0; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img.panlidns.com/CMS/bottomads/254/image.png'
              ,sizingMethod='scale' ); display: block; height: 80px; width: 1200px; position: absolute; position: relative; z-index: 19; "></span></a>
    <a class="gg_close " href="javascript:void(0); " onclick="$( '#ad20100608').hide();var data=jaaulde.utils.cookies.get(
              'closenotshow');if(data!=null){data=data+ '|bottomads';jaaulde.utils.cookies.set( 'closenotshow',data,{domain: 'panli.com'});}else{jaaulde.utils.cookies.set( 'closenotshow', 'bottomads',{domain: 'panli.com'});}return false; " title="关闭 "
      style="background:url(http://img.panlidns.com/CMS/bottomads/254/close.gif) no-repeat center; height: 16px; width: 16px; position: absolute; right:0px; top: 5px; z-index: 20; display: block; padding: 0 0 0 2px; "></a>
  </div>
</div>

<script type="text/javascript ">
  $(function() {
    ZeroClipboard.setMoviePath("http://sf.panli.com/Public/Panli/ZeroClipboard.swf ");
    clip = new ZeroClipboard.Client(); // 新建一个对象

    $(window).resize(function() {
      clip.reposition();
    });
  });

  $(document).ready(function() {
    $(".mypanli_gift ").hover(function() {
      $(this).addClass("current ");
    }, function() {
      $(this).removeClass("current ");
    });
  });
</script>
<div class="All_top ">
  <div class="site_nav ">
    <div class="site_center ">
      <p class="login-info " id="Gobal_LoginInfo ">
        &nbsp;</p>
      <ul class="quick-menu ">

        <li><a href="/ ">Panli首页</a></li>

        <li class="top_Shop "><a href="http://www.panli.com/mypanli/ShoppingCart.aspx " class="gouwu " id="Gobal_Shoppingcart " target="_blank " rel="nofollow ">购物车<span>(0)</span></a>

          <div class="mysj_box2 mysj_box3 mysj_box4 " style="display: none " id="Gobal_BiyProductCount ">
            <div class="mysj_bk2 ">
              <a href="http://www.panli.com/mypanli/SelfPurchase/list.aspx ">转运<span class="zizhugou ">(0)</span></a>
            </div>
          </div>

        </li>
        <!-- 邀请好友开始 -->
        <li class="mypanli_gift ">
          <a class="li_03 " href="http://www.panli.com/mypanli/ " rel="nofollow ">我的Panli<em class="arr "></em></a>
          <div class="yaioqing "><a href="http://www.panli.com/mypanli\UserInfo\InviteFriends.aspx ">邀请好友</a></div>
        </li>
        <!-- 邀请好友结束 -->
        <li><a href="http://www.panli.com/mypanli/OrderCart.aspx " rel="nofollow ">我的仓库</a></li>
        <li><a href="http://service.panli.com " rel="nofollow ">帮助中心</a></li>
        <li><a href="http://www.panli.com/services-rates/ " rel="nofollow ">服务与价格</a></li>
        <li class="top_tool " id="Panli_Tools ">
          <a class="gj_img " href="javascript:; " onclick="return false; ">常用服务工具 </a>
          <div class="gj_xl " id="Panli_ToolsList ">
            <ul>
              <li><a href="/Tools/Estimates.aspx " target="_blank " rel="nofollow ">费用估算</a></li>
              <li><a href="/Help/Postage.aspx " target="_blank " rel="nofollow ">运费对比</a></li>
              <li><a href="http://qq.ip138.com/hl.asp " target="_blank " rel="nofollow ">汇率换算</a></li>
              <li><a href="/Tools/Track.aspx " target="_blank " rel="nofollow ">包裹跟踪查询</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="panli_wrapper ">
    <div class="old_logo ">
      <a class="alogo_l " href="/ ">
        <img src="http://sf.panli.com/FrontEnd/images20090801/Gobal/logo.gif " alt="Panli海外华人代购网站的Logo " />
      </a>
      <a class="alogo_r " href="/ ">
        <img src="http://sf.panli.com/FrontEnd/images20090801/Gobal/logo_r.gif " alt="Panli代购-全球最大海外华人代购中国商品网站 " />
      </a>
    </div>

    <div class="TopCartoon ">
      <a href="http://www.panli.com/Mobile/Index.aspx " target="_blank ">
        <img src="http://sf.panli.com/FrontEnd/images20090801/Gobal/dt.gif " alt="Panli手机代购 " />
      </a>
      <em></em>
    </div>
    <div class="fast_daigouOuter ">
      <div class="fast_daigouButton ">
        <a href="javascript:void(0) " class="fast_daigouButton1 on ">代购</a>
        <a href="javascript:void(0) " class="fast_daigouButton2 ">转运</a>
      </div>
      <div class="fast_daigou ">
        <input class="fast_wz " type="text " id="CrawlUrl " value="http:// " />
        <div class="but ">
          <a href="javascript:; " id="PanliCrawlBtn " class="diygo ">我要代购</a>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript ">
    $(function() {
      var keys = $(".mypbj>.channelmy>ul>li>a[key='wodepanli']");
      if (typeof(urlLocalOn) != "undefined") {
        keys = $(".mypbj>.channelmy>ul>li>a[key='wodeduanxinxi']")
      }
      keys.addClass("xt");
      if ("wodepanli" == "wodebaobei") $('.PhoneTi').remove();
    });
  </script>
  <div class="mypbj">
    <div class="channelmy">
      <ul style=" position:absolute;">
        <li><a key="wodepanli" href="http://www.panli.com/mypanli/">我的Panli</a></li>
        <li><a key="wodetuangou" href="http://tuan.panli.com/MyTuan/Joined.html">我的团购</a></li>
        <li><a key="wodebaobei" href="http://www.panli.com/mypanli/myCowry/">我的宝贝</a></li>
        <li><a key="zhanghuguanli" href="http://www.panli.com/mypanli/vip/myvipinfo.aspx">帐户管理</a></li>
        <li><a key="wodeduanxinxi" href="http://www.panli.com/mypanli/MessageBox/SystemMessage.aspx">我的短信</a></li>
      </ul>

      <div class="channel_jifen" id="div_Improve_Master_Div_Note" style="display: none;"></div>

      <div class="channel_zi" style="display: none">
        <p>
          风格设置：</p>
        <i>1</i> <i>2</i> <i>3</i>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  (function() {
    var isIE = !!window.ActiveXObject;
    var isIE6 = isIE && !window.XMLHttpRequest;
    var height = 525;

    var hidedom = $('.top,ul,.top1', '#rightMenu');

    var isindexs = false,
      CSrights = false;

    try {
      isindexs = !!isindex;
    } catch (e) {
      try {
        CSrights = CSright;
      } catch (e) {
        CSrights = false;
      }
      isindexs = false;
    }

    function customer() {
      var stop = document.compatMode == "BackCompat" ?
        document.body.scrollTop :
        document.documentElement.scrollTop == 0 ? document.body.scrollTop : document.documentElement.scrollTop;
      var domid = $("#rightMenu"),
        bodywidth = $('body,html').width();
      if (isindexs) {
        stop == 0 ? hidedom.fadeOut(400) : hidedom.fadeIn(400);
        domid.css('top', (stop > height ? isIE6 ? stop : 0 : height - stop) + "px");
      } else {
        domid.css({
          'top': '50%',
          'marginTop': '-30px'
        });
      }

      CSrights ? domid.css({
        'right': '10px',
        'left': 'auto'
      }) : domid.css('left', bodywidth <= 1111 ? 'auto' : (bodywidth - 960) / 2 + 960 + 'px');
    };
    isindexs ? hidedom.hide() : hidedom.remove();

    window.onscroll = customer;
    window.onresize = customer;
    $(function() {
      customer();
    });
    customer();
  })();
</script>